.basket-shop-top-side{
margin-top: 40px;
border: 1px solid $light-grey;
border-radius: 5px;
height: 80px;
align-items: center;
padding: 8px;
    .basket-description{
        position: relative;
        .basket-icon{
            font-size: 45px;
            color: $primary-color;
        }
        .basket-situation{
            font-family: $primary-font;
            position: absolute;
            top: 6px;
            left: 65px;
            font-size: 21px;
        }
    }
    .start-shop-btn{
        cursor: pointer;
        background-color: $primary-color;
        color: $white;
        height: 50px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        width: 100%;
        border-radius: 7px;
        text-align: center;
        line-height: 50px;
        transition: all 0.3s;
        &:hover{
            opacity: 75%;
            letter-spacing: 0.5px;
        }
    }
}

.top-sales-wrapper{
    margin: 15px 0px 15px 0px;
    font-family: $primary-font;
    color: $dark-grey;
    font-weight: 600px;
    font-size: 26px;
    
}

.see-all-items-wrapper{
    .see-all-items-btn{
        border: 1px solid $light-grey;
        border-radius: 5px;
        background-color: $white;
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        text-align: center;
        color: $light-grey;
        width: 100%;
        margin: 15px 0px 15px 0px;
        transition: 0.3s;
        &:hover{
            border: 1px solid $primary-color;
            color: $primary-color;
        }
    }
}
